.response-panel {
  @apply h-full;

  .button-wrapper {
    @apply grid grid-flow-col gap-x-4;
    grid-template-columns: 1fr minmax(auto, 50%);
  }

  .button {
    @apply bg-dodger-blue;
  }

  .checkboxes {
    @apply mt-10;
    @apply w-1/2;
    @apply grid grid-cols-2 gap-2;

    span {
      @apply text-catskill-white;
    }
  }

  .heading {
    @apply mb-2 mt-4;
    @apply font-semibold;
  }

  .text {
    font-size: 1rem;
    @apply mb-2 last:mb-0;
    @apply text-catskill-white;
  }

  .message {
    @apply h-full;
    @apply p-6;
  }

  .message-panel {
    @apply mt-10;
    @apply h-full w-full;
    @apply bg-ebony-dark;
    box-shadow: 0 0 10px theme(colors.dodger-blue-60);
  }
}
